<div class="container">
    <div class="row">
        <div class="col-8">
        <% terminal.forEach(t =>{ %>
                <div class="card m-2">
                    <div class="card-body">
                        <h4>NAME: <%= t.name %></h4>
                        <p>CAPACITY: <%= t.capacity %></p>
                        <% t.flight.forEach(u => {%>
                            <h5>AIRLINE: <%= u.airline %> </h5>

                            <div class="accordion accordion-flush" id="accordionFlushExample">

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="flush-headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                            List of Passengers:
                                        </button>
                                    </h2>
                                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body"> <% u.passenger.forEach(p => {%>
                                                <p><%= p.firstname %>, <%= p.lastname %></p>
                                            <% })%></div>
                                    </div>
                                </div>

                            </div>




                        <% })%>
                    </div>
                </div>

        <% }) %>
        </div>
        <div class="col-3 p-2">
            <form action="/terminal/create" method="post">
                <div class="row px-2">
                    <label>Terminal</label>
                    <input class="form-control"placeholder="name of terminal" name="name"/>
                </div>
                <div class="row px-2">
                    <label>Capacity</label>
                    <input class="form-control" placeholder="capacity" name="capacity"/>
                </div>

                <div class="row ">
                    <h3>List of Flights</h3>
                    <% flight.forEach(ut => {%>
                       <p> <input type="checkbox" name="flight" value="<%= ut._id%>">
                        <%= ut.name %></p>
                    <% })%>
                </div>

                <div class="row px-2">
                    <button class="btn btn-light btn-outline-danger mb-2" type="submit">Add Terminal</button>
                </div>

            </form>

        </div>
    </div>
</div>


